<script type="text/javascript">
                $(document).ready(function() {
               
  /***************************************************************************
  ////////////////////////////////// For Maps ////////////////////////////////
  ***************************************************************************/
        $(function () {
            $(".mapcontainer").mapael({
                map: {
                    name: "cameroun",
                    defaultArea: {
                        attrs: {
                            stroke: "#fff",
                            "stroke-width": 1
                        },
                        attrsHover: {
                            "stroke-width": 2
                        }
                    }
                },
                legend: {},
                areas: {
                    "CM.EN": {
                        value: "2617939",
                        href: "#",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord Est</span><br />Population : 2617939"}
                    },
                    "CM.SW": {
                        value: "2617939",
                        href: "#",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord Est</span><br />Population : 2617939"}
                    },
                    "CM.ND": {
                        value: "2617939",
                        href: "#",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord Est</span><br />Population : 2617939"}
                    },
                    "CM.EN": {
                        value: "2617939",
                        href: "#",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord Est</span><br />Population : 2617939"}
                    },
                    "CM.EN": {
                        value: "2617939",
                        href: "#",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord Est</span><br />Population : 2617939"}
                    },
                    "CM.EN": {
                        value: "2617939",
                        href: "#",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord Est</span><br />Population : 2617939"}
                    },
                    "CM.EN": {
                        value: "2617939",
                        href: "#",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord Est</span><br />Population : 2617939"}
                    },
                    "CM.EN": {
                        value: "2617939",
                        href: "#",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord Est</span><br />Population : 2617939"}
                    },
                    "CM.EN": {
                        value: "2617939",
                        href: "#",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord Est</span><br />Population : 2617939"}
                    },
                    "CM.EN": {
                        value: "2617939",
                        href: "#",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord Est</span><br />Population : 2617939"}
                    },
                }
            });
        });


 
            });
</script>