{# app/Resources/TwigBundle/views/Exception/error404.html.twig #} {% extends 'base.html.twig' %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 jumbotron">
            <h1>Page not found</h1> {% if is_granted('IS_AUTHENTICATED_FULLY') %} {# ... #} {% endif %}
            <p>
                The requested page couldn't be located. Checkout for any URL misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}